name: douban movie sync

on:
  workflow_dispatch:
  schedule:
    - cron: "0 14 * * *"
    - cron: "0 22 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    env:
        MOVIE_NOTION_TOKEN: ${{ secrets.MOVIE_NOTION_TOKEN }}
        NOTION_MOVIE_URL: ${{ secrets.NOTION_MOVIE_URL }}
        DOUBAN_NAME: ${{ secrets.DOUBAN_NAME }}
        MOVIE_NAME: ${{ secrets.MOVIE_NAME }}
        YEAR: ${{ vars.YEAR }}
        BACKGROUND_COLOR: ${{ vars.BACKGROUND_COLOR || '#FFFFFF' }}
        TRACK_COLOR: ${{ vars.TRACK_COLOR || '#ACE7AE' }}
        SPECIAL_COLOR: ${{ vars.SPECIAL_COLOR || '#69C16E' }}
        SPECIAL_COLOR2: ${{ vars.SPECIAL_COLOR2 || '#549F57' }}
        DOM_COLOR: ${{ vars.DOM_COLOR || '#EBEDF0' }}
        TEXT_COLOR: ${{ vars.TEXT_COLOR || '#000000' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Sync Douban movies to Notion
        run: |
          douban "movie"

      - name: Generate Notion heatmap
        run: |
          github_heatmap notion \
            --notion_token "${{ secrets.MOVIE_NOTION_TOKEN }}" \
            --database_id "${{ env.DATABASE_ID }}" \
            --date_prop_name "日期" \
            --value_prop_name "看过" \
            --unit "部" \
            --year ${{ env.YEAR }} \
            --me "${{ secrets.MOVIE_NAME }}" \
            --without-type-name \
            --background-color=${{ env.BACKGROUND_COLOR }} \
            --track-color=${{ env.TRACK_COLOR }} \
            --special-color1=${{ env.SPECIAL_COLOR }} \
            --special-color2=${{ env.SPECIAL_COLOR2 }} \
            --dom-color=${{ env.DOM_COLOR }} \
            --text-color=${{ env.TEXT_COLOR }}

      - name: Create Release and Upload Heatmap
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "latest"
          name: "Latest Heatmap"
          files: ./OUT_FOLDER/movie/*.svg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push updates to repository
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m 'add new heatmap' || echo "nothing to commit"
          git pull --rebase origin main
          git push || echo "nothing to push"
